snippet ce "cursor.execute" b
${1:cursor}.execute(${sql})$0
endsnippet

snippet cfo "cursor.fetchone"
${1:cursor}.fetchone($2)$0
endsnippet

snippet cfa "cursor.fetchall"
${1:cursor}.fetchall($2)$0
endsnippet

snippet np "import numpy as np"
import numpy as np
endsnippet

snippet plt "import matplotlib.pyplot as plt"
import matplotlib.pyplot as plt
endsnippet
