[submodule "theme/ayu-vim"]
	path = theme/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim.git
[submodule "lighttree2"]
	path = lighttree2
	url = git@github.com:NiYanhhhhh/lighttree2.git
[submodule "surround"]
	path = surround
	url = https://tpope.io/vim/surround.git
